<form [formGroup]="frm" (ngSubmit)="updateProduct(frm.value)">
    <div *transloco="let t" class="flex justify-content-center flex-wrap card-container yellow-container">

        <div class="col-12">
            <div class="card p-fluid surface-ground border-round">

                <div class="field col-6">
                    <label for="name">{{t('productUpdate.productName')}}</label>
                    <input formControlName="name" id="name" pInputText type="text"
                        [ngClass]="{'is-invalid': submitted && commponent.name.errors}" />
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.name.errors?.required">{{t('productUpdate.productNameReq')}}</small>
                    <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (commponent.name.errors?.maxlength || commponent.name.errors?.minlength)
              ">{{t('productUpdate.productNameMinMax')}}</small>

                </div>

                <div class="field col-6">
                    <label for="price">{{t('productUpdate.productprice')}}</label>
                    <input formControlName="price" id="price" required pInputText type="number" />
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.price.errors?.required">{{t('productUpdate.productPriceReq')}}</small>
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.price.errors?.min">
                        {{t('productUpdate.productPriceMinMax')}}</small>
                </div>

                <div class="field col-6">
                    <label for="stock">{{t('productUpdate.productStock')}}</label>
                    <input formControlName="stock" id="stock" pInputText type="number" />
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.stock.errors?.required">{{t('productUpdate.productStockReq')}}</small>
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.stock.errors?.min">
                        {{t('productUpdate.productStockMinMax')}}</small>
                </div>

                <div class="field col-12">
                    <label for="textarea">{{t('productUpdate.productDescription')}}</label>
                    <textarea formControlName="description" id="textarea" [autoResize]="true" rows="5" cols="30"
                        placeholder="Your Message" pInputTextarea
                        [ngClass]="{'is-invalid': submitted && commponent.description.errors}"></textarea>
                    <small class="form-text text-muted invalid-feedback"
                        *ngIf="submitted && commponent.description.errors?.required">{{t('productUpdate.productDescriptionReq')}}</small>
                    <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (commponent.description.errors?.maxlength || commponent.description.errors?.minlength)
                  ">{{t('productUpdate.productDescriptionMinMax')}}</small>

                </div>

                <div class="field col-12">
                    <label for="fileUpload">{{t('productUpdate.productAddImage')}}</label>
                    <p-fileUpload name="image" [fileLimit]=1 url="https://www.primefaces.org/cdn/api/upload.php"
                        (onUpload)="onUpload($event)" accept="image/*">
                    </p-fileUpload>
                    <small class="form-text text-muted invalid-feedback" *ngIf="submitted && imageCreProduct==''">
                        {{t('productUpdate.productImageReq')}}.</small>
                </div>

                <div class="field col-12">

                    <p-button type="submit" label="{{t('productUpdate.UpdateProduct')}}"></p-button>
                </div>
            </div>
        </div>

    </div>

</form>